* {
    margin: 0;
    padding: 0;
    cursor: url(images/icons/cursor.png), auto;
}

h2 {
    margin: 0;
    font-size: 150%;
}

body {
    transition: all 0.4s;
}
 
/* FONTS */

    .kanit-medium {
        font-weight: 500;
        font-style: normal;
    }

    .inter {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    }

/* FONTS OVER */


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bar {
    display: flex;
    gap: 18px;
    width: 80%;
    justify-content: center;
}

.menu-bar form {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.b-zero {
    border: 0;
}

.buttons {
    background-color: #6C63FF;
    transition: all 0.5s;
}

.buttons:hover {
    background-color: #5750d6;
}

.change-theme {
    padding: 12px 13px;
    border-radius: 5px;
}


#create {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 0px #6C63FF ;
}

input {
    border: 0;
    transition: all 0.4s;
}

input:focus-visible {
    outline: none;
}

.search-line::placeholder {
    color: #C3C1E5;
}

.search-cont {
    display: flex;
    justify-content: space-between;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    padding: 10px 13px;
    width: 90vh;
}

.search-b {
    background-color: #ffffff00;
}

section {
    margin: 20px 0 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border-bottom: 1px solid #B1ADFB;
    padding: 15px 0;
}

.link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.filter-btn, .theme-toggle {
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    height: 100%;
}

/* SIGN IN */
.sign-link {
    margin: 10px 0 0 0;
}

/* PERSONAL */
#submit-form {
    border: none;
    background: none;
}

